//$green: #00CCC0;
//$red: #FF4858;

$green: #007fff;
$green-dark: #0055ab;
$contact: #51c679;
$text: #010d22;
$red: #fe5b3a;
$red-dark: #c42100;
$red-menu: #fe5b3a40;
$red-menu-2: #fe5b3a85;
$green-menu: #0080ff5a;
$green-menu-2: #0080ff78;
$ciano-menu: #51c67a4e;
$ciano-menu-2: #51c67a91;
$grey-menu: #747F7F63;
$grey-menu-2: #747f7f9b;
$black: #000;
$black-transparent: #0000003b;
$black-transparent-2: #00000050;
$white: #fff;
$grey: #747F7F;